.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
workers/**
.commity.yaml
esbuild.js
jest.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
